root = true

### GENERAL ###
[*]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = false
end_of_line = lf

### PYTHON ###
[*.py]
indent_size = 4
trim_trailing_whitespace = true

### TEXT ###
[*.{md,txt}]
indent_size = 2
trim_trailing_whitespace = false

### GIT ###
[.{gitignore,gitconfig}]
insert_final_newline = false
trim_trailing_whitespace = true
